GeoServices-Core-Commons/obj/**
GeoServices-Core-Commons/bin/**


GeoServices-Core-Web-API/obj/**
GeoServices-Core-Web-API/bin/**


GeoXWrapperLib/.vs/**
GeoXWrapperLib/.vs

GeoXWrapperLib/GeoXWrapperLib/bin/**
GeoXWrapperLib/GeoXWrapperLib/obj/**

GeoXWrapperLib/GeoXWrapperTest/bin/**
GeoXWrapperLib/GeoXWrapperTest/obj/**

GeoXWrapperLib/GeoXWrapperLib/lib/fls/**
/GeoServices-Core-Web-API/linux_geo25b_25.2.zip
/GeoServices-Core-Web-API/.bash_history
