GeoServices-Core-Commons/obj/**
GeoServices-Core-Commons/bin/**


GeoServices-Core-Web-API/obj/**
GeoServices-Core-Web-API/bin/**


GeoXWrapperLib/.vs/**
GeoXWrapperLib/.vs

GeoXWrapperLib/GeoXWrapperLib/bin/**
GeoXWrapperLib/GeoXWrapperLib/obj/**

GeoXWrapperLib/GeoXWrapperTest/bin/**
GeoXWrapperLib/GeoXWrapperTest/obj/**

GeoXWrapperLib/GeoXWrapperLib/lib/fls/**
/GeoServices-Core-Web-API/linux_geo25b_25.2.zip
/GeoServices-Core-Web-API/.bash_history


/GeoServices-Core-Batch-Processor/obj
/GeoServices-Core-Batch-Processor/Properties
/GeoServices-Core-Database/obj/Debug
/GeoServices-Core-Web-API/version-25d_25.4
/GeoServices-Core-Web-API/linux_geo25d_25.4.zip
/GeoServices-Core-Database/bin/Debug
/GeoServices-Core-Batch-Processor/bin/Debug/net9.0/runtimes/win/lib/net9.0
/GeoServices-Core-Batch-Processor/bin/Debug/net9.0
